$transition-duration: .15s;

$font-optima: 'Optima';

$font-mont-black: 'Mont-Black';
$font-mont-bold: 'Mont-Bold';
$font-mont-extra-light: 'Mont-ExtraLight';
$font-mont-light: 'Mont-Light';
$font-mont-regular: 'Mont-Regular';
$font-mont-semi-bold: 'Mont-SemiBold';
$font-mont-thin: 'Mont-thin';

$font-gotham-bold: 'Gotham-Bold';
$font-gotham-medium: 'Gotham-Medium';

$red: #EE1D52;
$red-hovered: #860c2d;
$white: #FFFFFF;
$black: #111111;
$black-hovered: #1f1d1d;
